<div class="testimonials page__content">
	<div class="testimonials__inner layout__wrap">
		<div class="testimonials__title">Testimonials</div>
		<div class="testimonials__list">
			<div class="testimonials__item item-t">
				<div class="item-t__inner">
					<div class="item-t__imgbox">
						<img src="./img/testimonials/testimonials-1.jpg" alt="" class="item-t__img">
					</div>
					<div class="item-t__text">
					This is an agreement (“The Affiliate Agreement”) between you (“you” or “Affiliate”) and bohoaffiliates.com
					</div>
					<div class="item-t__linkbox">
						<a href="#" class="item-t__link link">www...I.....I..com</a>
					</div>
				</div>
			</div>

			<div class="testimonials__item item-t">
				<div class="item-t__inner">
					<div class="item-t__imgbox">
						<img src="./img/testimonials/testimonials-1.jpg" alt="" class="item-t__img">
					</div>
					<div class="item-t__text">
					This is an agreement (“The Affiliate Ae (“The AeAffi (“The Affiliate Agreement”) be (“The Affiliate Agreement”) be (“The Affiliate Agreement”) be(“The Affiliate Agreement”) be(“The Affiliate Agreement”) be (“The Affiliate Agreement”) be (“you” or “Affiliate”) and bohoaffiliates.com
					</div>
					<div class="item-t__linkbox">
						<a href="#" class="item-t__link link">www...I.....I..com</a>
					</div>
				</div>
			</div>

			<div class="testimonials__item item-t">
				<div class="item-t__inner">
					<div class="item-t__imgbox">
						<img src="./img/testimonials/testimonials-1.jpg" alt="" class="item-t__img">
					</div>
					<div class="item-t__text">
					This is an agreement (“The Affiliate Agreement”) between you (“you” or “Affiliate”) and bohoaffiliates.com
					</div>
					<div class="item-t__linkbox">
						<a href="#" class="item-t__link link">www...I.....I..com</a>
					</div>
				</div>
			</div>
			<div class="testimonials__item item-t">
				<div class="item-t__inner">
					<div class="item-t__imgbox">
						<img src="./img/testimonials/testimonials-1.jpg" alt="" class="item-t__img">
					</div>
					<div class="item-t__text">
					This is an agreement (“The Affiliate Agreement”) between you (“you” or “Affiliate”) and bohoaffiliates.com
					</div>
					<div class="item-t__linkbox">
						<a href="#" class="item-t__link link">www...I.....I..com</a>
					</div>
				</div>
			</div>

			<div class="testimonials__item item-t">
				<div class="item-t__inner">
					<div class="item-t__imgbox">
						<img src="./img/testimonials/testimonials-1.jpg" alt="" class="item-t__img">
					</div>
					<div class="item-t__text">
					This is an agreement (“The Affiliate Agreement”) between you (“you” or “Affiliate”) and bohoaffiliates.com
					</div>
					<div class="item-t__linkbox">
						<a href="#" class="item-t__link link">www...I.....I..com</a>
					</div>
				</div>
			</div>

			<div class="testimonials__item item-t">
				<div class="item-t__inner">
					<div class="item-t__imgbox">
						<img src="./img/testimonials/testimonials-1.jpg" alt="" class="item-t__img">
					</div>
					<div class="item-t__text">
					This is an agreement (“The Affiliate Agreement”) between you (“you” or “Affiliate”) and bohoaffiliates.com
					</div>
					<div class="item-t__linkbox">
						<a href="#" class="item-t__link link">www...I.....I..com</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>