<div class="qa-mob page__content page__qa-mob">
	<div class="qa-mob__inner layout__wrap">
		<div class="qa-mob__title">Frequently Asked Questions (F.A.Q)</div>
		{% set inject = {
			parentClass: 'qa-mob__box'
		}%}
		{% include "blocks/qa/qa.njk" %}
	</div>
</div>