<div class="qa-mob page__content">
	<div class="qa-mob__inner layout__wrap">
		<div class="qa-mob__title">Frequently Asked Questions (F.A.Q)</div>
		<div class="qa-mob__box">
			<div class="qa-mob__item">

				<div class="qa-mob__item-titlebox">
					<span class="qa-mob__item-title">What is Boho Afffiliattes?</span>
				</div>
				<div class="qa-mob__item-body">A casino is a facility for certain types of gambling.</div>
			</div>

			<div class="qa-mob__item">
				<div class="qa-mob__item-titlebox">
					<span class="qa-mob__item-title">What is Boho Afffiliattes?</span>
				</div>
				<div class="qa-mob__item-body">A casino is a facility for certain types A casino is a facility for certain typesA casino is a facility for certain typesA casino is a facility for certain types A casino is a facility for certain typesof gambling.</div>
			</div>

			<div class="qa-mob__item">
				<div class="qa-mob__item-titlebox">
					<span class="qa-mob__item-title">What is Boho Afffiliattes?</span>
				</div>
				<div class="qa-mob__item-body">A casino is a facility for certain types of gambling.</div>
			</div>

			<div class="qa-mob__item">
				<div class="qa-mob__item-titlebox">
					<span class="qa-mob__item-title">What is Boho Afffiliattes?</span>
				</div>
				<div class="qa-mob__item-body">A casino is a facility for certain types of gambling.</div>
			</div>
		</div>
	</div>
</div>