<div class="qa {{inject.parentClass}}">
	<div class="qa__item">

		<div class="qa__item-titlebox">
			<span class="qa__item-title">What is Boho Afffiliattes?</span>
		</div>
		<div class="qa__item-body">A casino is a facility for certain types of gambling.</div>
	</div>

	<div class="qa__item">
		<div class="qa__item-titlebox">
			<span class="qa__item-title">What is Boho Afffiliattes?</span>
		</div>
		<div class="qa__item-body">A casino is a facility for certain types A casino is a facility for certain typesA casino is a facility for certain typesA casino is a facility for certain types A casino is a facility for certain typesof gambling.</div>
	</div>

	<div class="qa__item">
		<div class="qa__item-titlebox">
			<span class="qa__item-title">What is Boho Afffiliattes?</span>
		</div>
		<div class="qa__item-body">A casino is a facility for certain types of gambling.</div>
	</div>

	<div class="qa__item">
		<div class="qa__item-titlebox">
			<span class="qa__item-title">What is Boho Afffiliattes?</span>
		</div>
		<div class="qa__item-body">A casino is a facility for certain types of gambling.</div>
	</div>
</div>