<div class="qa {{inject.parentClass}}">
	<div class="qa__item">

		<div class="qa__item-titlebox">
			<span class="qa__item-title">What is Boho Afffiliattes?</span>
		</div>
		<div class="qa__item-body">Boho Affiliates is an online gambing affiliate program. You sign up to the program for free and access promotional tools to help you make money from your traffic.</div>
	</div>

	<div class="qa__item">
		<div class="qa__item-titlebox">
			<span class="qa__item-title">How does the Boho Affiliates program work?</span>
		</div>
		<div class="qa__item-body">After registering with Boho Affiliates, each affiliate receives a unique identifier. This is the binding mechanism that ensures that each partner’s players are assigned to them for life.</div>
	</div>

	<div class="qa__item">
		<div class="qa__item-titlebox">
			<span class="qa__item-title">If I sign up, do you share my details with any other third party?</span>
		</div>
		<div class="qa__item-body">100% NO! We do not sell or share anyone’s personal/private information. We respect you and your details.</div>
	</div>

	<div class="qa__item">
		<div class="qa__item-titlebox">
			<span class="qa__item-title">How many affiliate accounts can I have?</span>
		</div>
		<div class="qa__item-body">You can have only one affiliate account.	</div>
	</div>

	<div class="qa__item">
		<div class="qa__item-titlebox">
			<span class="qa__item-title">Do you bundle commissions or carryover negatives? </span>
		</div>
		<div class="qa__item-body">We do not bundle affiliate commissions across the brands. Boho Affiliates operates a no-negative carryover policy by ring fencing winning players until they start earning for you once again.	</div>
	</div>

	<div class="qa__item">
		<div class="qa__item-titlebox">
			<span class="qa__item-title">How do Boho Affiliates track the players that I’m sending to you? </span>
		</div>
		<div class="qa__item-body">The banner or link that you create from our “Media Gallery” has your personal tracking code attached to it. So when players visit Boho Casino or Slots Gallery Casino this tracking code is stored in a cookie on the user’s computer. When the user signs up, Bohocasino.com or Slotsgallery.com know this player was referred by you and you will get the player tagged as yours and you will generate commission on this player for a life time.</div>
	</div>

	<div class="qa__item">
		<div class="qa__item-titlebox">
			<span class="qa__item-title">For how long does a player belong to me and for how long will he generate money for me? </span>
		</div>
		<div class="qa__item-body">As long as the player plays with Boho Casino or Slots Gallery Casino you will receive the life time revenue share commissions. 	</div>
	</div>

	<div class="qa__item">
		<div class="qa__item-titlebox">
			<span class="qa__item-title">Can I register a player account under my own affiliate link and make a deposit? </span>
		</div>
		<div class="qa__item-body">You can register, but you cannot deposit yourself or people related to you under your own affiliate link. Such actions are deemed fraudulent by Boho Affiliates and may result in termination of collaboration, suspension of your affiliate account, and withholding of your commission. This is highlighted in the Terms and Conditions paragraph 2.5.</div>
	</div>

	<div class="qa__item">
		<div class="qa__item-titlebox">
			<span class="qa__item-title">What are the benefits of the Boho Affiliates?	</span>
		</div>
		<div class="qa__item-body">At Boho Affiliates we offer high-quality promotional materials, more than 200 available payment methods, more than 90 game providers, exceptional conversion and retention rates for our affiliates!	</div>
	</div>

	<div class="qa__item">
		<div class="qa__item-titlebox">
			<span class="qa__item-title">Which game providers your casino brands offer to players? (Need to change the brands order)		</span>
		</div>
		<div class="qa__item-body">Our casino brands offer a great variety of casino games from the leading software providers including but not limited to: NetEnt, Booongo, Playson, Quickspin, Microgaming, YGGdrasil Gaming, Betsoft, Endorphina, REDrake, Play’n GO, Push Gaming, Booming, Amatic, Tom Horn, PragmaticPlay, Nextgen, Thunderkick, Side City, Elk, Bigtimegaming, 1X2gaming, Iron Dog Studio, Leap Gaming, Habanero, Oryx, Evolution Gaming.	</div>
	</div>

	<div class="qa__item">
		<div class="qa__item-titlebox">
			<span class="qa__item-title">How often the system statistics are updated?	</span>
		</div>
		<div class="qa__item-body">The system statistics are updated on an hourly basis which allows you to keep a full control of the brand performance and the traffic flow.</div>
	</div>

	<div class="qa__item">
		<div class="qa__item-titlebox">
			<span class="qa__item-title">When do I get paid?</span>
		</div>
		<div class="qa__item-body">We pay our affiliates in the first 15 days of each month for the previous period. Please pay attention that the minimum amount of pay out is €100 except bank wire transfer the minimum threshold for which is €200. If you do not reach that amount, your commission is transferred to the following months until the minimum payout amount is reached.	</div>
	</div>

	<div class="qa__item">
		<div class="qa__item-titlebox">
			<span class="qa__item-title">Do you have a sub-affiliate program?</span>
		</div>
		<div class="qa__item-body">Yes, you will be able to earn 5% of your sub-affiliate(s) commission total within each given month. Your sub-affiliate commissions will be added to your monthly affiliate earnings.
Please note our strict no “self-referral” policy, also includes sub-affiliate self-referrals. Meaning no affiliate is permitted to sign-up through their own Sub-Affiliate tracking link for the purpose to earn revenue from their own affiliate account.	</div>
	</div>

	<div class="qa__item">
		<div class="qa__item-titlebox">
			<span class="qa__item-title">I get it and it’s cool but I still have some questions. Can I get in touch with you for personal assistance?	</span>
		</div>
		<div class="qa__item-body">Sure thing! We’ll be happy to guide you, just send us an e-mail at marketing@bohoaffiliates.com or contact us in Skype and well get back to you ASAP.</div>
	</div>

</div>