{% extends "layouts/layout.njk" %}

{% block main %}
	{% include "blocks/menu/menu-mobile.njk" %}
	{% include "blocks/header/header.njk" %}

	{% set inject = {} %}

	{% include "blocks/commissions/commissions.njk" %}
	{% include "blocks/markets/markets.njk" %}
	{% include "blocks/markets/markets-2.njk" %}
	{% include "blocks/contact/contact.njk" %}
	{% include "blocks/footer/footer.njk" %}

{% endblock %}