{% extends "layouts/layout.njk" %}

{% block main %}
	{% include "blocks/menu/menu-mobile.njk" %}
	{% include "blocks/header/header-simple.njk" %}

	{% include "blocks/qa/qa-mob.njk" %}

	{% include "blocks/footer/footer.njk" %}

{% endblock %}