<div class="contact">
	<div class="contact__inner">
		<div class="contact__box">
			<div class="contact__info">
				<div class="contact__title">CONTACT US</div>
				<div class="contact__text">
					<p class="contact__p">Any questions?</p>
					<p class="contact__p">Our managers will be happy to answer you!</p>
				</div>
				<div class="contact__text">
					<p class="contact__p_y">Affiliate Team:</p>
					<p class="contact__p"> marketing@bohoaffiliates.com</p>
					<p class="contact__p_y">Head of Affiliates:</p>
					<p class="contact__p"> artem@bohoaffiliates.com</p>
				</div>
			</div>
			<div class="contact__body">
				{% include "blocks/form/form-contact.njk" %}
			</div>
		</div>
	</div>
</div>