<div class="contact">
	<div class="contact__inner">
		<div class="contact__box layout__wrap">
			<div class="contact__info">
				<div class="contact__title">CONTACT US</div>
				<div class="contact__text">
					<p class="contact__p">Any questions?</p>
					<p class="contact__p">Our managers will be happy to answer you!</p>
				</div>
				<div class="contact__text">
					<p class="contact__p_y">Affiliate Team:</p>
					<p class="contact__p"> marketing@bohoaffiliates.com</p>
					<p class="contact__p_y">Head of Affiliates:</p>
					<p class="contact__p"> artem@bohoaffiliates.com</p>
				</div>
			</div>
			<div class="contact__body">
				<form action="#" class="form">
					<div class="form__inner">
						<div class="input input_size_xl contact__row">
							<input type="text" class="input__control" name="name" placeholder="Full name">
						</div>
						<div class="input input_size_xl contact__row">
							<input type="text" class="input__control" name="name" placeholder="Email adress">
						</div>
						<textarea class="textarea textarea_size_xl contact__row" name="" id=""  rows="10"></textarea>
						<div class="contact__row contact__button">
							<button class="button button_size_xl">
								<div class="button__text">Send</div>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>