<div class="markets page__markets">
	<div class="markets__inner layout__wrap">
		<div class="markets__about">
			<div class="markets__imgbox">
				<img src="./img/markets.svg" alt="markets" class="markets__img img">
			</div>
			<div class="markets__text-link">
				<a href="#" class="markets__link link">www.bohocasino.com</a>
			</div>
			<div class="markets__est">
				Establiblished: 2021
			</div>
		</div>
		<div class="markets__info">
			<div class="markets__info-title">MARKETS</div>
			<div class="markets__flagsbox">
				<img src="./img/flag.svg" alt="" class="markets__flag-img img">
			</div>
			<div class="markets__info-row">
				<div class="markets__lic">
					<div class="markets__lic-title">LICENS</div>
					<div class="markets__lic-text">Curacao</div>
				</div>
				<div class="markets__payment">
					<div class="markets__payment-title">PAYMENT OPTION</div>
					<div class="markets__payment-count">23</div>
				</div>
				<div class="markets__read-more">
					<a href="" class="markets__read-more-button">read more</a>
				</div>
			</div>
		</div>
		<div class="markets__button"></div>
	</div>
</div>