/* Библиотеки */
@import "./lib/smartgrid.scss";

/* INIT */
@import "./preset/reset.scss";
@import "./preset/var.scss";
@import "./preset/mixins.scss";
@import "./preset/fonts.scss";
@import "./preset/animation.scss";

/* Фундоментальные Блоки */
@import "./fundamental/layout.scss";
@import "./fundamental/page.scss";
@import "./fundamental/header.scss";
@import "./fundamental/footer.scss";

/* Блоки */
@import "./blocks/block-s.scss";
@import "./blocks/button.scss";
@import "./blocks/icon.scss";
@import "./blocks/link.scss";
@import "./blocks/input.scss";
@import "./blocks/textarea.scss";
/*

@import "./blocks/checkbox.scss";
@import "./blocks/img.scss";
@import "./blocks/title.scss";


@import "./blocks/deco.scss";
@import "./blocks/text.scss";
@import "./blocks/relative-box.scss";*/

/* Блоки Верстки */

@import "./custom/nav/menu-main.scss";
@import "./custom/nav/menu-mobile.scss";
@import "./custom/logo.scss";
@import "./custom/banner.scss";
@import "./custom/commissions.scss";
@import "./custom/markets.scss";
@import "./custom/contact.scss";

@import "./custom/notice.scss";
@import "./custom/form.scss";
@import "./custom/qa.scss";
@import "./custom/qa-mob.scss";
@import "./custom/qa-desc.scss";
@import "./custom/testimonials.scss";
@import "./custom/item-t.scss";
/* Навигация */
* {
	box-sizing: border-box;
}
html {
	min-height: 100%;
	min-width: 100%;
	overflow-y: scroll;
}

body {
	min-height: 100%;
	min-width: 100%;
	-webkit-overflow-scrolling: touch;
}
