<div class="commissions page__commissions">
	<div class="commissions__inner layout__row">
		<div class="commissions__title">Commissions</div>
		<div class="commissions__imgbox">
			<img src="./img/section_commissions.svg" alt="commissions" class="commissions__img">
		</div>
		<div class="commissions__textbox">

			<div class="commissions__top">
				<div class="commissions__title-mini">REVENUE SHARE</div>
				<div class="commissions__text-mini-hight">UP TO 45%</div>
				<div class="commissions__text-bold">with no Negative carry over</div>
			</div>
			<div class="commissions__left">
				<div class="commissions__title-mini">HYBRID</div>
				<div class="commissions__text-mini-hight">THE BEST</div>
				<div class="commissions__text-mini">combination of Revenue Share and Hybrid</div>
			</div>
			<div class="commissions__right">
				<div class="commissions__title-mini">CPA</div>
				<div class="commissions__text-mini">Huge CPA deals</div>
			</div>
		</div>

	</div>
</div>