/* COLORS */

$color_white: #fff;
$color_black: #000;

$color_green: #23494a;
$color_green_light: #396a6b;

$color_turquoise: #518e8e;
$color_cream: #f7e6ba;
$color_cream_light: #d6d4b1;
$color_yellow: #fccd63;
$color_blue: #19b7ff;

/* TIME*/

$th: 0.25s;
