<header class="header page__header">
	<div class="header__inner layout__wrap">
		<div class="header__row">
			<div class="header__logo">
				{% include "blocks/logo/logo.njk" %}
			</div>
			<div class="header__menu">
				{% set inject = {
					menuBrakePoint: "768"
				}
 %}
				{% include "blocks/menu/menu-main.njk" %}
			</div>
		</div>

		<div class="header__body banner">
			<div class="banner__inner">
				<div class="banner__title">TAKE THE LEAD — REAP THE REWARD</div>

				{% set inject = {
					parentClass: "banner__button",
					buttonClassJoin: "banner__button-join",
					buttonClassIn: "banner__button-in"

				}
 %}
				{% include "blocks/login/login-button.njk" %}
			</div>

		</div>
	</div>
</header>