<div class="login-button {{inject.parentClass}}">
	<a
		href="//dashboard.bohoaffiliates.com/partner/register"
		class="button button_size_l {{inject.buttonClassJoin}}"
	>
		<span class="button__text">Join us</span>
	</a>
	<a
		href="//dashboard.bohoaffiliates.com/partner/login"
		class="button button_size_l button_view_l {{inject.buttonClassIn}}"
	>
		<span class="button__text">Log in</span>
	</a>
</div>