<nav
	class="menu-main"
>
	<div class="menu-main__inner">
		<div class="menu-main__controller">
			<div class="menu-main__controller-icon">
				<span class="icon icon_burger"></span>
			</div>

		</div>

		<div class="menu-main__list">
			{% for item in menu.menu_main %}
				{% include "blocks/menu/menu-main-item.njk" %}
			{% endfor %}
		</div>

	</div>
</nav>