.menu-main {
	&__inner {
		display: flex;
	}
	&__controller {
		display: flex;
		align-items: center;
		padding: 10px 0;
		@include bp768-block() {
			display: none;
		}
	}

	&__controller-icon {
		/*	margin-right: 10px;*/
	}
	&__controller-text {
		font-size: 18px;
		font-weight: 600;
		text-transform: uppercase;
		color: #fff;
	}

	/*&__login {
		display: flex;
		padding-top: 70px;
		padding-bottom: 20px;
		justify-content: center;
		@include bp768-block() {
			display: none;
		}
	}*/

	/*&__button-join {
		margin-right: 10px;
	}
	&__button-in {
		margin-left: 10px;
	}*/

	&__list {
		display: none;
		flex-grow: 1;

		justify-content: center;
		position: relative;
		flex-direction: row;
		justify-content: space-around;
		border: 2px solid $color_yellow;
		@include bp768-block() {
			display: flex;
		}
	}

	&__item {
		display: flex;
		text-align: center;
		border-right: 1px solid $color_yellow;

		&:last-child {
			border-right: none;
		}
	}

	&__item-link {
		width: 100%;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 300;
		line-height: 16px;
		padding: 10px 10px 4px;
		margin: 0;
		@include ts(background-color);
		&:hover {
			background-color: $color_yellow;
		}
		&:active {
			background-color: green;
		}

		@include bp994-block() {
			font-size: 26px;
			line-height: 28px;
		}
		@include bp1280-block() {
			font-size: 30px;
			line-height: 30px;
		}

		&_active {
			background-color: $color_yellow;
		}
	}

	/*&__closebox {
		@include bp768-block() {
			display: none;
		}
		display: flex;
	}*/

	/*&__close {
		margin-left: auto;
		margin-right: 15px;
		margin-bottom: 15px;
	}*/
}
