.logo {
	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__link {
		display: flex;
		align-items: center;
	}
	&__img {
		max-width: 140px;
		@include bp768-block() {
			max-width: 255px;
		}
	}
}
