.page {
	&_theme {
		font: 14px / 2.14 "Spartan", sans-serif;
		/*font-size: 14px;
		line-height: 18px;*/
		/*font-family: "Roboto", sans-serif;*/
		/*font-family: "Spartan", sans-serif;*/
		color: $color_black;
		background: $color_cream;
		position: relative;
	}

	&__header {
		min-height: 665px;
		height: 100vh;
	}
}
